In [106]:
import pandas as pd
import numpy as np

### 데이터 불러오기

In [107]:
df21 = pd.read_csv('result - 2021.csv')

> 데이터 전처리(구단명 통일)
  - 전부 두글자로 통일
  - KIA > 기아
  - SSG -> SK

In [108]:
# 기아 이름바꾸기

df21['원정'] = df21['원정'].str.replace("KIA", "기아", 1)
df21['홈'] = df21['홈'].str.replace("KIA", "기아", 1)

# SSG 이름바꾸기

df21['원정'] = df21['원정'].str.replace("SSG", "SK", 1)
df21['홈'] = df21['홈'].str.replace("SSG", "SK", 1)

In [109]:
df21

           날짜   원정     홈  구장    비고
0    04.03(토)   기아    두산  잠실  우천취소
1    04.03(토)   롯데    SK  문학  우천취소
2    04.03(토)   LG    NC  창원  우천취소
3    04.03(토)   한화    KT  수원  우천취소
4    04.03(토)  삼성1   6키움  고척     -
..        ...  ...   ...  ..   ...
726  09.30(목)  두산4  12LG  잠실     -
727  09.30(목)  KT4   8롯데  사직     -
728  09.30(목)  한화2   6삼성  대구     -
729  09.30(목)  SK2   6NC  창원     -
730  09.30(목)  키움2   0기아  광주     -

[731 rows x 5 columns]

> 데이터 전처리(점수)

- 원정팀    : 왼/두글자 추출
- 원정점수  : 왼/세번째부터 추출
- 홈점수    : 오/세번째부터 추출
- 홈팀      : 오/두글자 추출

In [110]:
def game(data) :
    data['원정팀'] = data['원정'].str[:2]
    data['A'] = data['원정'].str[2:]
    data['홈팀'] = data['홈'].str[-2:]
    data['B'] = data['홈'].str[:-2]
    
    
game(df21)
df21

           날짜   원정     홈  구장    비고 원정팀  A  홈팀   B
0    04.03(토)   기아    두산  잠실  우천취소  기아     두산
1    04.03(토)   롯데    SK  문학  우천취소  롯데     SK
2    04.03(토)   LG    NC  창원  우천취소  LG     NC
3    04.03(토)   한화    KT  수원  우천취소  한화     KT
4    04.03(토)  삼성1   6키움  고척     -  삼성  1  키움   6
..        ...  ...   ...  ..   ...  .. ..  ..  ..
726  09.30(목)  두산4  12LG  잠실     -  두산  4  LG  12
727  09.30(목)  KT4   8롯데  사직     -  KT  4  롯데   8
728  09.30(목)  한화2   6삼성  대구     -  한화  2  삼성   6
729  09.30(목)  SK2   6NC  창원     -  SK  2  NC   6
730  09.30(목)  키움2   0기아  광주     -  키움  2  기아   0

[731 rows x 9 columns]

> 데이터 전처리(게임결과)

  - 1. 빈칸일 경우 : 우천취소
  - 2. A-B >0 일 경우 : 원정팀 출력 / A-B <0 일 경우 : 홈팀 출력 / A-B =0 일 경우 : 무승부

In [115]:
def score(data) :    
    data['A'] = pd.to_numeric(data['A'])
    data['B'] = pd.to_numeric(data['B'])
    
    data['result'] = data['B'] - data['A']
    
    
score(df21)

In [116]:
df21

           날짜   원정     홈  구장    비고 원정팀    A  홈팀     B  result   승리팀
0    04.03(토)   기아    두산  잠실  우천취소  기아  NaN  두산   NaN     NaN  우천취소
1    04.03(토)   롯데    SK  문학  우천취소  롯데  NaN  SK   NaN     NaN  우천취소
2    04.03(토)   LG    NC  창원  우천취소  LG  NaN  NC   NaN     NaN  우천취소
3    04.03(토)   한화    KT  수원  우천취소  한화  NaN  KT   NaN     NaN  우천취소
4    04.03(토)  삼성1   6키움  고척     -  삼성  1.0  키움   6.0     5.0   5.0
..        ...  ...   ...  ..   ...  ..  ...  ..   ...     ...   ...
726  09.30(목)  두산4  12LG  잠실     -  두산  4.0  LG  12.0     8.0   8.0
727  09.30(목)  KT4   8롯데  사직     -  KT  4.0  롯데   8.0     4.0   4.0
728  09.30(목)  한화2   6삼성  대구     -  한화  2.0  삼성   6.0     4.0   4.0
729  09.30(목)  SK2   6NC  창원     -  SK  2.0  NC   6.0     4.0   4.0
730  09.30(목)  키움2   0기아  광주     -  키움  2.0  기아   0.0    -2.0  -2.0

[731 rows x 11 columns]

In [120]:
df21['승리팀'] = df21['result'].fillna('우천취소')

if df21['result'] > 0 : 
    df21['승리팀'] = df21['홈팀']
elif df21['result'] < 0 : 
    df21['승리팀'] = df21['원정팀']
else : 
    "무승부"

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().